# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build_chrome
/build_firefox
chrome.zip
firefox.zip
source.zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# secrets
secrets.*.js

.vscode

/src/Kleine Kacheln - 440 x 280.png
/src/*.psd

/src/assets/img/*.psd
