# dependencies
/node_modules

# testing
/coverage

# production
/build_chrome
/build_firefox

# secrets
secrets.*.js

.vscode

/src/Kleine Kacheln - 440 x 280.png
/src/Kleine Kacheln - 440 x 280.psd

/src/assets/img/logo34.psd
/src/assets/img/logo128.psd
